<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292752952502-ss7j7latm9jarsk1q9jpa09hpqu5k9lr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292752952502-ss7j7latm9jarsk1q9jpa09hpqu5k9lr</string>
	<key>API_KEY</key>
	<string>AIzaSyDAUAWqN1xktoGRbSiqlAC8iSHIthGmkcE</string>
	<key>GCM_SENDER_ID</key>
	<string>292752952502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.FireTwT</string>
	<key>PROJECT_ID</key>
	<string>firetwitter-f8070</string>
	<key>STORAGE_BUCKET</key>
	<string>firetwitter-f8070.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292752952502:ios:b85fc7c128a21b0599ea17</string>
</dict>
</plist>